<h1>{{title}}</h1>

<p>This is a social experiment. <br>
    In light of the coronavirus I wanted to do a harmless test.<br>
    I wanted to see if dots that can infect other dots will keep distance, or try to infect all the other dots.<br>
<br>
    What if you are not infected? what will you do?<br>
    What if you are?
</p>

<a href="/social">Join the experiment</a>

{{!-- Hier moet het aanmelden en room selectie komen --}}