html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

.area{
    border: 1px solid black;
    margin: auto;
    display: block;
}

p{
    text-align: center;
    font-size: 1em;
}